{% extends 'base.html' %}

{% block content %}
{% for booking in booking_list %}
<div class="booking">
    <div class="category">
        <h2>{{booking.get_room_type}} Suite</h2>
    </div>
    <div class="from">
        <h3>From: {{booking.check_in}}</h3>
    </div>
    <div class="to">
        <h3>To: {{booking.check_out}}</h3>
    </div>
    <div class="beds">
        <h3>Beds: {{ booking.room.properties.first.number_of_beds }}</h3>
    </div>
    <div class="capacity">
        <h3>Capacity: {{ booking.room.properties.first.capacity }}</h3>
    </div>
    <div class="cancel">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelbookingModal">
            Cancel Booking
        </button>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="cancelbookingModal" tabindex="-1" aria-labelledby="cancelbookingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cancelbookingModalLabel">Cancel Booking</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h4>Are you sure you want to cancel this booking?</h4>
        </div>
        <div class="modal-footer">  
            <form method="post" action="{% url 'hotel:CancelBookingView' booking.pk %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Yes">
            </form>
            <button class="btn btn-primary mx-4" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  
{% endfor %}
{% endblock content %}