{% extends 'base.html'  %}
{% load static %}

{% block title %} Our rooms {% endblock title %}
{% block content %}
        <!-- Page Header Start -->
        {% include 'flash_messages.html' %}
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url('{% static 'img/about-1.jpg' %}');">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Rooms</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="{%url 'content_app:home'%}">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Rooms</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-4">
            <form method="GET" action="{% url 'hotel:RoomListView' %}">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" required placeholder="Search for a room">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-dark">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>        
{% comment %} check if the user searches for a room{% endcomment %}
{% if request.GET.search %}
        <div class="container-xxl py-5">
            <div class="container">
            {% if rooms %}
                <h1>You searched for {{search}}</h1> 
                <div class="row g-4">
                    {% for room, room_url in room_list %}
                    {% include 'rooms_list.html' %}
                    {% endfor %}
                </div>
             {% else %}
             {% comment %} return error message ifuser's search query does not  match any rooms {% endcomment %}
             <center>
                 <div class="container">
                     <h1 class="emoji">😕</h1>
                     <h1>Oops!</h1>
                     <h4>We currently do not have the room you searched for. Please search for another room.</h4>
                     <a class="btn btn-primary" href="{% url 'hotel:RoomListView' %}">View all rooms</a>
                 </div>
             </center>
             {% endif %}
            </div>
        </div>
{% else %}
        <!-- Room Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-accent text-uppercase">Our Rooms</h6>
                    <h1 class="mb-5">Explore Our <span class="text-accent text-uppercase">Rooms</span></h1>
                </div>
                <div class="row g-4">
                    {% for room, room_url in room_list %}
                    {% include 'rooms_list.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Room End -->
{% endif %}
{% endblock content %}
