{% extends 'base.html'  %}

{% block content %}
{% include 'flash_messages.html' %}

<form method="GET" action="{% url 'hotel:RoomListView' %}">
    <input type="text" name="search" placeholder="Search...">
    <button type="submit">Search</button>
</form>
{% comment %} check if the user searches for a room{% endcomment %}
{% if request.GET.search %}
        <div class="container-xxl py-5">
            <div class="container">
            {% if rooms %}
                <h1>You searched for {{search}}</h1> 
                <div class="row g-4">
                    {% for room, room_url in room_list %}
                    {% include 'rooms_list.html' %}
                    {% endfor %}
                </div>
             {% else %}
             {% comment %} return error message ifuser's search query does not  match any rooms {% endcomment %}
             <center>
                 <div class="container">
                     <h1 class="emoji">😕</h1>
                     <h1>Oops!</h1>
                     <h4>We currently do not have the room you searched for. Please search for another room.</h4>
                     <a class="btn btn-primary" href="{% url 'hotel:RoomListView' %}">View all rooms</a>
                 </div>
             </center>
             {% endif %}
            </div>
        </div>
{% else %}
        <!-- Room Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-accent text-uppercase">Our Rooms</h6>
                    <h1 class="mb-5">Explore Our <span class="text-accent text-uppercase">Rooms</span></h1>
                </div>
                <div class="row g-4">
                    {% for room, room_url in room_list %}
                    {% include 'rooms_list.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Room End -->
{% endif %}
{% endblock content %}
