{% extends 'base.html' %}

{% block content %}

{% if not user.is_authenticated %}
    <h3>Please login to book a room</h3>
{% endif %}

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}
    {% if form.check_out.errors %}
        <div class="text-danger">
            {{ form.check_out.errors }}
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <input type="submit" value="Submit">
    {% else %}
        <input type="submit" value="Submit" disabled>
    {% endif %}
</form>

{% endblock content %}
