{% extends "base.html" %}
{% block content %}
<center class="container">
  <h1>You are about to sign out</h1>

<p>Are you sure you want to sign out?</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
  <a href="{% url 'users:ProfileView' %}" class="btn btn-dark text-primary mx-3">No, take me back</a>
</form>
</center>


{% endblock %}
